
.top{
    line-height:0.6;
    margin-top:15px
}
.date{
    font-size:22px;
}
.description{
    font-size: 22px;
    font-weight: 500
}
 .temperature {
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  margin-left: 8px;
  font-weight: 400;
 position: relative;
  line-height: 1;
  top: 20px;
 

}

.unit {
  font-size: 20px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -6px;
  text-decoration: none;
}

.right-side{
        font-size:22px;
        line-height:0.7;
        margin: 20px auto;
}
 .left-side{
    display: inline-flex;
 }