
.top{
    line-height:0.6;
    margin-top:15px
}
.date{
    font-size:22px;
}
.description{
    font-size: 22px;
    font-weight: 500
}
 .temperature {
  font-weight: bold;
  font-size: 54px;
  line-height: 64px;
  margin-left: 5px;
  font-weight: 400;

}

.celsium {
  font-size: 18px;
  font-weight: 400;
  position: relative;
  line-height: 1;
  top: -27px;
}
img{
  position: relative;
  top: -16px;
  font-size: 100px;
}
.right-side{
        font-size:22px;
        line-height:0.7;
}